<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>HomePage</title>
</head>

<style>
    .table-container {
        padding: 20px 15px;
    }

    .title {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #ccc;
    }
</style>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create User</a>
        <a href="/barca">About</a>
    </div>
    <!-- <h1 style="text-align: center; margin-top: 10px;">Add new user </h1> -->


    <div class="table-container">

        <div class="title">List Users</div>
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th>
            </tr>


            <% for(let i=0; i< listUsers.length; i++) { %>
                <tr>
                    <td>
                        <%= listUsers[i].id %>
                    </td>
                    <td>
                        <%= listUsers[i].email %>
                    </td>
                    <td>
                        <%= listUsers[i].name %>
                    </td>
                    <td>
                        <%= listUsers[i].city %>
                    </td>

                    <td>


                        <form action="/update/<%= listUsers[i].id %>" method="GET">
                            <button>Edit</button>
                        </form>

                        <form action="/delete-user/<%= listUsers[i].id %>" method="post">
                            <button>Delete</button>
                        </form>

                    </td>

                </tr>

                <% } %>

        </table>
    </div>

</body>

</html>